*{
    margin: 0;
    padding: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
    text-decoration: none;
  }
  
  body{
    height: 100vh;
    background: url(./img/background.jpg) no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .profile-card{
    width: 400px;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
  }
  
  .card-header{
    background: url(./img/img7.jpg) no-repeat center;
    width: 100%;
    height: 100%;
    padding: 60px 40px;
  }
  
  .pic{
    display: inline-block;
    padding: 8px;
    background: linear-gradient(130deg, #74b9ff, #e66767);
    margin: auto;
    border-radius: 50%;
    background-size: 200% 200%;
    animation: animated-gradient 2s linear infinite;
  }
  
  @keyframes animated-gradient{
    25%{
      background-position: left bottom;
    }
    50%{
      background-position: right bottom;
    }
    75%{
      background-position: right top;
    }
    100%{
      background-position: left top;
    }
  }
  
  .pic img{
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  
  .name{
    font-size: 28px;
    font-weight: 600;
    margin: 10px 0;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 5px;
  }
  
  .desc{
    font-size: 18px;
    padding: 5px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.61);
    border-radius: 5px;
  }
  
  .sm{
    display: flex;
    justify-content: center;
    margin: 20px 0;
  }
  
  .sm a{
    color: #dbdbdb;
    width: 56px;
    font-size: 49px;
    transition: .3s linear;
    margin-left: 5px;
  }
  
  .sm a:hover{
    color: #e66767;
  }
  
  .sm a > img{
    width: 50px;
    height: 50px;
  }

  .contact-btn{
    display: inline-block;
    padding: 12px 50px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.61);
    border: 2px solid #fff;
    border-radius: 6px;
    margin-top: 16px;
    transition: .3s linear;
  }
  
  .contact-btn:hover{
    background: #e66767;
    color: #f2f2f2;
  }

  .contact-btn i {
    margin-right: 10px;
  }
  
  .card-footer{
    background: #888383;
    padding: 60px 10px;
  }
  
  .numbers{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .item{
    margin: 0px 10px;
    height: 100px;
    width: 100px;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  
  .item img{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .item span{
    flex: 1;
    text-transform: uppercase;
    font-size: 13px;
    color: #ffffff;
  }
  
  .border{
    width: 1px;
    height: 30px;
    background: #bbb;
  }
  
  